alembic==1.11.1
blinker==1.6.2
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.4
colorama==0.4.6
distlib==0.3.6
filelock==3.12.2
Flask==2.2.5
Flask-CKEditor==0.4.6
flask-googlemaps==0.4.1
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
ghp-import==2.1.0
greenlet==2.0.2
gunicorn==20.1.0
htmlmin==0.1.12
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jsmin==3.0.1
Mako==1.2.4
Markdown==3.3.7
MarkupSafe==2.1.3
mergedeep==1.3.4
mkdocs==1.4.3
mkdocs-material==5.5.14
mkdocs-material-extensions==1.1.1
mkdocs-minify-plugin==0.3.0
packaging==23.1
pipenv==2023.6.18
platformdirs==3.8.0
psycopg2==2.9.6
Pygments==2.15.1
pymdown-extensions==10.0.1
python-dateutil==2.8.2
PyYAML==6.0
pyyaml_env_tag==0.1
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.18
typing_extensions==4.7.1
urllib3==2.0.3
virtualenv==20.23.1
virtualenv-clone==0.5.7
watchdog==3.0.0
Werkzeug==2.2.3
WTForms==3.0.1
