{% extends 'base.html' %}

{% block content %}
<!--<style>
    .image-container {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    
    .image-container img {
        width: 40%;
        position: relative;
        z-index: 10;
        transition: all 0.5s;
        box-shadow: -3px 1px 5px rgba(0, 0, 0, 0.5);
    }
    
    .image-container img:hover {
        z-index: 20;
        transform: scale(1.2) rotate(-10deg);
    }
    
    .image-container:hover img:not(:hover) {
        transform: scale(0.9);
        opacity: 0;
    }
    
    @media screen and (max-width: 500px) {
        .image-container img {
            width: 70%;
        }
    }
</style>-->

<h1 style="font-family: 'Papyrus'; text-align: center">Destinations to Inspire Adventure</h1>
<br/>

<div class="stamp-container">
    <img src="/static/images/stamps20.jpg" alt="Stamp 1" class="stamp" />
    <img src="/static/images/stamps9.jpg" alt="Stamp 2" class="stamp" />
    <img src="/static/images/stamps10.jpg" alt="Stamp 3" class="stamp" />
    <img src="/static/images/stamps21.jpg" alt="Stamp 4" class="stamp" />
    <img src="/static/images/stamps22.jpg" alt="Stamp 5" class="stamp" />
    <img src="/static/images/stamps23.jpg" alt="Stamp 6" class="stamp" />
    <img src="/static/images/stamps24.jpg" alt="Stamp 7" class="stamp" />
    <img src="/static/images/stamps13.jpg" alt="Stamp 8" class="stamp" />
    <img src="/static/images/stamps14.jpg" alt="Stamp 9" class="stamp" />
    <img src="/static/images/stamps2.jpg" alt="Stamp 10" class="stamp" />
    <img src="/static/images/stamps18.jpg" alt="Stamp 11" class="stamp" />
    <img src="/static/images/stamps16.jpg" alt="Stamp 12" class="stamp" />
</div>

<div class="shadow p-3 mb-5 bg-body rounded" style="background: #f4f7c5;">
    <h2 style="font-family: Papyrus;">{{ destination.title }}</h2><br/>
    <h6 style="font-family: Arial, Helvetica, sans-serif;">{{ destination.content | safe }}</h6><br/>

    <br/><br/>
</div>

<a href="{{ url_for('destinations') }}" class="btn btn-outline-secondary btn-sm" style="background-color: #743e0c; width: 350px;">Back to Destinations</a>

<style>
      .stamp-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; 
  z-index: -1;
}

.stamp {
  position: absolute;
  width: 100px; 
  height: 140px;
  opacity: 0.6;
  pointer-events: none; 
  transform: rotate(10deg);
}

.stamp:nth-child(1) {
  top: 600px;
  left: 1200px;
}

.stamp:nth-child(2) {
  top: 1200px;
  right: 100px;
}

.stamp:nth-child(3) {
  top: 1800px;
  left: 1000px;
  /* Add additional styles for the third stamp */
}

.stamp:nth-child(4) {
  top: 1800px;
  left: 150px;
}

.stamp:nth-child(6) {
    top: 1000px;
    left: 1000px;
}

.stamp:nth-child(7) {
  top: 800px;
  left: 250px;
}

.stamp:nth-child(8) {
    top: 250px;
    left: 1000px;
  }

.stamp:nth-child(9) {
  top: 400px;
  left: 150px;
}

.stamp:nth-child(10) {
    top: 10px;
    left: 1200px;
  }

.stamp:nth-child(11) {
  top: 1350px;
  left: 1200px;
}

.stamp:nth-child(12) {
    top: 1500px;
    left: 250px;
  }
</style>


{% endblock %}
