{% extends 'base.html' %}

{% block content %}
<html>
    <head></head>

    <body>
        <div class="home-section">
            <div>
            </div>
            <br/><br/><h1>Tourist on a Budget</h1>
            <p>Your Ultimate Guide to Affordable Adventure</p>
          </div>

          <!-- About Me -->
        <!--<div class="about-section">
            <h1>About Me</h1>
            <p>Welcome to Tourist on a Budget, your ultimate guide to exploring the beauty of our country without breaking the bank. I'm [Your Name], a passionate traveler and adventurer who believes that memorable experiences shouldn't be limited by a hefty price tag.</p>
            <p>Join me as we embrace the joy of domestic travel, connecting with diverse cultures, immersing ourselves in captivating traditions, and creating lifelong memories, all while keeping our wallets happy. Let's embark on this incredible journey together and make the most of what our amazing country has to offer!</p>
        </div>
        <div class="container">
            <section class="about">
                <div class="about-image">
                <img src="/static/images/about.jpg">
                </div>
                <div class="about-content">
                    <p>Welcome to Tourist on a Budget, your ultimate guide to exploring the beauty of our country without breaking the bank. I'm [Your Name], a passionate traveler and adventurer who believes that memorable experiences shouldn't be limited by a hefty price tag.</p>
                <p>Join me as we embrace the joy of domestic travel, connecting with diverse cultures, immersing ourselves in captivating traditions, and creating lifelong memories, all while keeping our wallets happy. Let's embark on this incredible journey together and make the most of what our amazing country has to offer!</p>      
                </div>
            </section>

        </div> -->
    </body>
    <footer>
        <div class="contact-us">
          <h2>Contact Us</h2>
          <div class="media-icons">
            <a href="#"><i class="fa-brands fa-facebook" style="color: #513a1f;"></i></a>
            <a href="#"><i class="fa-brands fa-twitter" style="color: #513a1f;"></i></a>
            <a href="#"><i class="fa-brands fa-instagram" style="color: #513a1f;"></i></a>
          </div>
        </div>
      </footer>      
</html>    

{% endblock %}