{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<h1 style="font-family: Papyrus;" >Travel Guides</h1>
<br/>

{% for post in posts %}
<div class="shadow p-3 mb-5 bg-body rounded" >
    <h2 style="font-family: Papyrus;">{{ post.title }}</h2><br/>
    <h3 style="font-family: Papyrus;">{{ post.subtitle }}</h3><br/>
    <h4 style="font-family: Papyrus;">{{ post.date_posted }} | {{ post.slug }}</h4><br/>
    <!--<h5 style="font-family: Papyrus;">{{ post.content }}</h5>-->
    <p style="font-family: Papyrus;">{{ post.content.split('\n')[0] | safe }}</p>
    {% if post.content.split('\n')|length > 1 %}
        <div id="post{{ post.id }}" style="display: none;">
            {% for paragraph in post.content.split('\n')[1:] %}
                <p style="font-family: Papyrus;">{{ paragraph }}</p>
            {% endfor %}
        </div>
        <a href="{{ url_for('post', id=post.id) }}" "javascript:void(0);" onclick="toggleContent('post{{ post.id }}')" class="btn btn-outline-secondary btn-sm">Read More</a>
    {% endif %}
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm"> Edit Travel Guide</a>
    <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Travel Guide</a>
    {% endif %}
    <br/><br/> 
</div>

{% endfor %}
<script>
    function toggleContent(elementId) {
        var content = document.getElementById(elementId);
        if (content.style.display === 'none') {
            content.style.display = 'block';
        } else {
            content.style.display = 'none';
        }
    }
</script>
{% endblock %}